div{
	border-style: solid;
	border-color: #FF7233;
	border-width: medium;
	margin: 0px;
	width: 200px;
	height: 230px;

}

#titulo{
	text-align: left;
	font-weight: bold;

}

p{
	text-align: left;


}